<div class="d-flex justify-content-center mt-@MarginTop">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@if (!string.IsNullOrEmpty(LoadingMessage))
{
    <div class="d-flex justify-content-center m-2">
        <small class="text-primary">
            @LoadingMessage
        </small>
    </div>
}

@code
{
    [Parameter] public string LoadingMessage { get; set; }
    [Parameter] public int MarginTop { get; set; } = 5;
}